<form [formGroup]="form" novalidate
      [class]="bubbleStyle"
      [ngClass]="{'full-width': editing}"
      (click)="startEditMode()">

    <div [ngStyle]="{'color': chatMessage?.user.color}" class="name-tag">{{chatMessage?.user?.username}}</div>

    <div *ngIf="editing; then editMode else viewMode"></div>

    <ng-template #viewMode><span class="message-text">{{chatMessage?.message}}</span></ng-template>

    <ng-template #editMode>
      <input type="text" class="form-control" formControlName="message" (keyup.enter)="updateMessage()" (keyup.escape)="stopEditMode()" (blur)="stopEditMode()" appAutofocus/>
      <div class="hint">
        <span>Hit enter to update</span>
      </div>
    </ng-template>

    <div class="time-stamp">{{chatMessage?.timestamp | date: 'dd.MMM HH:mm'}}</div>

</form>
