$text-color: #000;
$text-background-color: #fff;
$timestamp-color: #bfbfbb;


.speech-bubble-left {
  position: relative;
  padding: 18px;
  color: $text-color;
  margin-left: 20px;
  margin-right: auto;
  background: $text-background-color;
  max-width: 80%;
  min-width: 200px;
  -webkit-border-radius: 10px 10px 10px 0;
  -moz-border-radius: 10px 10px 10px 0;
  border-radius: 10px 10px 10px 0;

  -webkit-box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.50);
  -moz-box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.50);
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.50);

}
.speech-bubble-left:after {
  content: "";
  position: absolute;
  border-style: solid;
  //display: block;
  width: 0;
  left: -8px;
  bottom: 0;
  border-width: 8px 8px 0 0;
  border-color: transparent $text-background-color;
}

.speech-bubble-right {
  position: relative;
  padding: 14px;
  color: $text-color;
  margin-left: auto;
  margin-right: 25px;
  background: $text-background-color;
  max-width: 80%;
  min-width: 200px;
  -webkit-border-radius: 10px 10px 0 10px;
  -moz-border-radius: 10px 10px 0 10px;
  border-radius: 10px 10px 0 10px;

  -webkit-box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.50);
  -moz-box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.50);
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.50);
}

.speech-bubble-right:after {
  content: "";
  position: absolute;
  border-style: solid;
  width: 0;
  right: -8px;
  bottom: 0;
  left: auto;
  border-width: 8px 0 0 8px;
  border-color: transparent $text-background-color;
}

.speech-bubble-center {
  position: relative;
  padding: 14px;
  color: $text-color;
  margin-left: auto;
  margin-right: auto;
  background: $text-background-color;
  max-width: 80%;
  min-width: 80%;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;

  -webkit-box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.50);
  -moz-box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.50);
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.50);
}

.message-text {
  padding: 2px 0 2px 0;
  word-wrap: break-word;
}

.time-stamp {
  position: absolute;
  color: $timestamp-color;
  font-size: 0.8rem;
  text-align: right;
  right: 8px;
  bottom: 0;
}

.name-tag {
  position: absolute;
  font-size: 0.8rem;
  text-align: right;
  left: 8px;
  top: 0;
}

.full-width {
  width: 95%;
  max-width: 95%;
}

.hint {
  position: absolute;
  display: flex;
  justify-content: center;
  text-align: center;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.hint > span {
  text-align: center;
  font-size: 0.7rem;
  color: red;
}

input {
  text-align: center;
  margin: 6px 0;
}
