.message-board {
  display: flex;
  flex-direction: column;
  width:100%;
}

.speech-bubble-container {
  margin: 5px;
  display: flex;
  flex-direction: column;
  width:100%;
}

.bumper {
  height: 60px;
}
