<div>

  <div class="message-board">
    <app-speech-bubble *ngFor="let message of chatMessages$ | async"
                       [chatMessage]="message"
                       class="speech-bubble-container">
    </app-speech-bubble>

    <div class="bumper"></div>
    <!--<app-message-input></app-message-input>-->
  </div>

</div>
