<div class="login-wrapper">
  <div class="login-header-wrapper">

    <div *ngIf="user?.username; else loginButton" class="avatar-wrapper">

      <img class="img-wrapper" [src]="user?.photoUrl">
      <div class="info-wrapper">
        <div class="user-info">
          <div class="title">{{user?.name}}</div>
          <div class="title" [ngStyle]="{'color': user?.color}">{{ user?.username }}</div>
        </div>
        <button type="button" class="btn btn-danger btn-lg btn-block border sign-in-out-button" (click)="signOut()">Logout</button>
      </div>
    </div>

    <ng-template #loginButton>
      <button type="button" class="btn btn-danger btn-lg btn-block border sign-in-out-button" (click)="signInViaGoogle()">Sign in via Google</button>
    </ng-template>

  </div>
</div>
