.login-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 5px;
  width: 100%;
}

.login-header-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
}

.avatar-wrapper {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: center;
  background-color: white;

  padding: 10px;

  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;

  -webkit-box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.50);
  -moz-box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.50);
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.50);
}

.sign-in-out-button {
  width: 100%;
}

.user-info {
  text-align: center;
}

img {
  border-radius: 50%;
}

.info-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 10px 0 10px;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
}

.img-wrapper {
  max-width: 150px;
  max-height: 150px;
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 0.8rem;
  }
  .img-wrapper {
    max-width: 100px;
    max-height: 100px;
  }
}
