.content {
  display: flex;
  align-content: center;
  /*justify-content: center;*/
  flex-direction: column;
  padding: 3vh 20vw;
  /*/assets/images/Nerdquiz_hintergrund_dark.png*/
  min-height: 100vh;

}

.hoverable {
  cursor:pointer;
}

@media screen and (max-width: 768px) {
  .content {
    padding: 1vh 1vw;
  }
}
//
//@media screen and (min-width: 769px) and (max-width: 1024px) {
//  .content {
//    padding: 10vh 5vw;
//  }
//}
