@import "~bootstrap/dist/css/bootstrap.css";

body:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  //background-color: #b2caff;
  //background: linear-gradient(#2e88c4, #b2caff);
  //background: url("/assets/images/Background.png") no-repeat center center;
  background: linear-gradient(141deg, #55a2b8 0%, #1ddbca 51%, #55a2b8 100%);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body:after {

  z-index: -1;
  content: "";
  //background-color: rgba(188, 188, 162, 0.71);
  background: url("/assets/images/chat_app_BG_4.png") repeat center center;
  display: block;
  position: fixed;
  width: 60%;
  height: 100%;
  left: 20%;
  bottom: 0;
  border-left: 1px solid #797979;
  border-right: 1px solid #797979;
}

@media screen and (max-width: 768px) {

  body:after {
    width: 100%;
    left:0;
    //background-color: rgba(6, 220, 255, 0.7);
    /*justify-content: center;*/
    background-color: rgba(188, 188, 162, 0.71);
  }
}

//@media screen and (min-width: 769px) and (max-width: 1024px) {
//
//  body:after {
//    width: 90%;
//    left:5%;
//  }
//}

.hoverable {
  cursor:pointer;
  user-select: none;
}
