<form *ngIf="form?.get('message')?.enabled" [formGroup]="form" novalidate>
  <div class="message-input input-group mb-3">
    <input type="text" class="form-control" formControlName="message" placeholder="Type your message here..." required>
    <div class="input-group-append">
      <button class="btn btn-success" [disabled]="!form.valid" (click)="sendMessage()">Send</button>
    </div>
  </div>
</form>
